@model Tuple<List<hikaya_Ajloun.Models.Product>, List<hikaya_Ajloun.Models.Category>>


@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/Navbar and footer 2.cshtml";
}



<!--Breadcrumb Start-->
<div class="pq-breadcrumb pq-breadcrumb-Product pq-bg-dark pq-bg-img-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title mt-5">
                        <h1>Luxury products from Ajloun</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a></li>
                            <li class="breadcrumb-item active">Prodcut</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->
<!--Page Content-->
<main id="page-content">



    <!--Categories Content-->
    <div class="section pb-0">
        <div class="container">
            <div class="row">
                <!--Sidebar-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 sidebar filterbar order-2 order-lg-0 order-md-2 order-sm-2">
                    <div class="closeFilter d-block d-lg-none"><i class="cps cp-times"></i></div>
                    <div class="sidebar-filters">
                        <div class="shopby-title text-uppercase"><h3>Shop by</h3></div>

                        <hr>
                        <!--Category Block-->
                        <div class="block clearfix block-categories">
                            <div class="block-title"><h3>Categories</h3></div>
                            <div class="block-content">
                                <ul class="items">
                                    <li class="lvl-1 sub-level">
                                        <a href="#;">Herbs</a>

                                    </li>
                                    <li class="lvl-1 sub-level">
                                        <a href="#;">Oils</a>
                                    </li>
                                    <li class="lvl-1 sub-level">
                                        <a href="#;">Cosmetic products</a>
                                    </li>
                                    <li class="lvl-1 sub-level">
                                        <a href="#;">Olive</a>
                                    </li>
                                    <li class="lvl-1 sub-level">
                                        <a href="#;">Handicrafts</a>
                                    </li>
                            </div>
                        </div>
                        <!--End Category Block-->
                        <!--Price Filter Block-->
                        <div class="block filterBox filter-widget">
                            <div class="block-title"><h3>Price</h3></div>
                            <form action="#" method="post" class="price-filter filterDD mt-3">
                                <div id="slider-range" class="mt-2 ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 73.4043%;"></span>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="no-margin"><input id="amount" type="text" class="rounded"></p>
                                    </div>
                                    <div class="col-6 text-end margin-25px-top">
                                        <button class="btn btn--small rounded">filter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End Price Filter Block-->
                        <!--Availability-->
                        <div class="block filterBox filter-widget size-swacthes availability">
                            <div class="block-title"><h3 class="mb-0">Availability</h3></div>
                            <div class="filterDD">
                                <ul class="clearfix" style="column-count:auto;">
                                    <li><input type="checkbox" value="instock" id="instock"><label for="instock"><span></span>In stock</label></li>
                                    <li><input type="checkbox" value="outofstock" id="outofstock"><label for="outofstock"><span></span>Out of stock</label></li>
                                </ul>
                            </div>
                        </div>
                        <!--End Availability-->


                    </div>



                </div>
                <!--End Sidebar-->
                <!--Content-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 main-col">
                    <!--Toolbar-->
                    <div class="toolbar py-3 pt-0">
                        <div class="filters-toolbar-wrapper">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between m-0">
                               
                                <li class="filters-select ms-auto ms-sm-0 d-flex align-items-center">
                                   
                                    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                                    {
                                        <div class="filters-toolbar-select d-flex align-items-center border-0 p-0">
                                            <label for="SortBy" class="flex-1 m-0 hidden">Sort by:</label>
                                            <select name="sortOrder" id="SortBy" class="sort-by flex-1 rounded">
                                                <option value="">Sort</option>
                                                <option value="AlphabeticallyAZ">Alphabetically, A-Z</option>
                                                <option value="AlphabeticallyZA">Alphabetically, Z-A</option>
                                                <option value="PriceLowToHigh">Price, low to high</option>
                                                <option value="PriceHighToLow">Price, high to low</option>
                                            </select>

                                            <button class="me-5" type="submit">Apply</button>
                                        </div>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End Toolbar-->
                    <!--Product Grid-->
                    <div class="products-grid">
                        <div class="row">

                            @foreach (var item in Model.Item1)
                            {

                                if (item.availability != "Out Of Stock             ")
                                {
                                    <div class="col-md-8 col-lg-6 col-xl-4 mt-3">
                                        <div class="card text-black">
                                            <a href="/Home/SingleProduct?id=@item.productId">
                                                <img src="~/Images/Products/@item.productImage_1"
                                                     class="card-img-top"
                                                     alt="@item.productDescription" />
                                            </a>
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <a href="/Home/SingleProduct?id=@item.productId">
                                                        <h5 class="card-title">@item.productName</h5>
                                                    </a>
                                                </div>
                                                <div class="d-flex justify-content-center total font-weight-bold mt-4">
                                                    <span>JOD @item.price</span>
                                                </div>
                                                <div class="d-flex justify-content-center total font-weight-bold mt-4">
                                                    <button style="color: white; padding: 15px; border-radius: 30px; background-color: #2e7d32; border: none" onclick="addToCart(@item.productId)"> <i class="fa fa-cart-plus"> Add to cart</i></button>

                                                    <script>
    function addToCart(productId) {
        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: '"Added to cart successfully"'
        })

        $.ajax({
            type: "POST",
            url: "@Url.Action("Buy", "Carts")",
            data: { productId: productId },
            success: function () {
                setTimeout(function() {
                    location.reload();
                }, 3000); // تأخير التحديث بمقدار ثانيتين
            }
        });
    }
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }


                            }

                            <!--Pagination-->
                            <div class="row">
                                <div class="col-12">
                                    <div class="pagination">
                                        <div class="container">
                                            <ul class="d-flex align-items-center justify-content-center">

                                                <div class="container">
                                                    <span id="rateMe1"></span>
                                                </div>

                                                <script>
                                                    $(document).ready(function () {
                                                        $('#rateMe1').mdbRate();

                                                        // add your additional code here
                                                    });
                                                </script>


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Pagination-->
                        </div>
                        <!--End Content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Categories Content-->

</main><!--End Page Content-->

