@model hikaya_Ajloun.Models.Product


@{
    ViewBag.Title = "SingleProduct";
    Layout = "~/Views/Shared/Navbar and footer 2.cshtml";
}


<!--Breadcrumb Start-->
<div class="pq-breadcrumb pq-breadcrumb-singleproduct pq-bg-dark pq-bg-img-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title mt-5">
                        <h1>Product</h1>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->
<!--Page Content-->
<main id="page-content" class="mb-0">

    <!--Product Details-->
    <div class="section">
        <div class="container">
            <div class="product-single">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product-details-img product-horizontal-style mb-3">
                            <div class="product-zoom">
                                <div class="zoompro-wrap product-zoom-right pl-20">
                                    <div class="zoompro-span">
                                        <img id="zoompro" class="zoompro prlightbox" src="/Images/Products/@Model.productImage_1" data-zoom-image="/Images/Products/@Model.productImage_1" alt="" />
                                    </div>
                                    <div class="product-labels"><span class="lbl new rounded">New</span></div>
                                    <div class="product-buttons">
                                        <a href="#" class="btn prlightbox rounded" title="Zoom">
                                            <i class="cps cp-expand"></i>
                                            <span class="tooltip-label">Zoom Image</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="product-thumb product-horizontal-thumb">
                                <div id="gallery" class="product-thumb-style1">



                                    <a class="active" data-image="/Images/Products/@Model.productImage_1" data-zoom-image="/Images/Products/@Model.productImage_1" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                                        <img class="blur-up lazyload" data-src="/Images/Products/@Model.productImage_1" src="/Images/Products/@Model.productImage_1" alt="" />
                                    </a>

                                    <a data-image="/Images/Products/@Model.productImage_2" data-zoom-image="/Images/Products/@Model.productImage_2" data-slick-index="-3" aria-hidden="true" tabindex="-1">
                                        <img class="blur-up lazyload" data-src="/Images/Products/@Model.productImage_2" src="/Images/Products/@Model.productImage_2" alt="" />
                                    </a>

                                    <a data-image="/Images/Products/@Model.productImage_3" data-zoom-image="/Images/Products/@Model.productImage_3" data-slick-index="-3" aria-hidden="true" tabindex="-1">
                                        <img class="blur-up lazyload" data-src="/Images/Products/@Model.productImage_3" src="/Images/Products/@Model.productImage_3" alt="" />
                                    </a>

                                    <a data-image="/Images/Products/@Model.productImage_4" data-zoom-image="/Images/Products/@Model.productImage_4" data-slick-index="-3" aria-hidden="true" tabindex="-1">
                                        <img class="blur-up lazyload" data-src="/Images/Products/@Model.productImage_4" src="/Images/Products/@Model.productImage_4" alt="" />
                                    </a>



                                </div>
                            </div>

                            <div class="lightboximages">
                                <a href="/Images/Products/@Model.productImage_1" data-size="700x700"></a>
                                <a href="/Images/Products/@Model.productImage_2" data-size="700x700"></a>
                                <a href="/Images/Products/@Model.productImage_3" data-size="700x700"></a>
                                <a href="/Images/Products/@Model.productImage_4" data-size="700x700"></a>
                            </div>




                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product-single-detail">
                            <h1 class="product-title text-uppercase">@Model.productName</h1>
                            <div class="d-flex justify-content-between">
                                <div class="product-review mb-2">
                                    <i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star-half-alt"></i>
                                    14 Reviews <span class="sep">|</span> <a href="#">Write Your Review</a>
                                </div>
                            </div>

                            <p>Availability: @Model.availability</p>


                            @*@if (Model.availability == "On Stock")  //
                                {

                                    <div class="stock mb-1"><b><span class="inStock text-uppercase"><i class="cp cp-check-circle"></i> On Stock</span></b></div>


                                }
                                else
                                {

                                    <div class="stockout mb-1"><b><span class="stockout text-uppercase"><i class="cp cp-check-circle"></i>Out of stock</span></b></div>

                                }*@


                            <div class="brands mb-1"><b>Brand:</b> @Model.Category.categoryName</div>
                            <div class="price-box">
                                <span class="visually-hidden">Regular price</span>

                                @{
                                    var descount = Model.price * 0.15;
                                    var oldprice = descount + Model.price;
                                }

                                <span class="old-price">JOD @oldprice.ToString("F0")</span>
                                <span class="sale-price">JOD @Model.price</span>
                            </div>

                            <div class="sort-description">
                                <h4 class="title">Short Description</h4>

                                <p>

                                    @if (Model.productDescription.Length > 400)
                                    {
                                        var cutIndex = Model.productDescription.LastIndexOf(" ", 200);
                                        var cutDescription = Model.productDescription.Substring(0, (cutIndex > 0 ? cutIndex : 200)) + "...";
                                        @cutDescription
                                    }
                                    else
                                    {
                                        @Model.productDescription
                                    }

                                </p>
                                <hr>
                            </div>

                            <!-- Product Form -->
                            <form method="post" action="/Carts/Buy" id="product_form" class="product-form">




                                <!-- Product Action -->
                                <div class="product-action w-100 clearfix d-flex align-items-center">
                                    <div class="d-flex w-100">
                                        <div class="product-form-quantity">
                                            <div class="qtyField">
                                                <input type="number" name="productId" value="@Model.productId" hidden />
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="cps cp-minus"></i></a>
                                                <input type="text" name="quantity" value="1" class="product-form__input qty">
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="cps cp-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-form-submit flex-1">


                                            @*<a class="option1" href="@Url.Action("Buy", "Carts", new { id = Model.productId })" data-ajax="true" data-ajax-method="POST" data-ajax-complete="onAddToCartComplete">*@
                                            <button type="submit" class="btn rounded w-100 add-to-cart-btn"><i class="cp cp-shopping-cart"></i> <span>Add to cart</span></button>
                                            @*</a>*@

                                            @*<button type="submit" class="btn rounded d-none" disabled="disabled">Sold out</button>*@
                                        </div>
                                    </div>
                                </div>
                                @*}*@
                                <!-- End Product Action -->
                            </form>
                            <!-- End Product Form -->
                            <!--Social Share-->
                            <!--End Social Share-->
                            <!--Guranteed Checkout-->
                            <div class="guaranteed-safe-checkout">
                                <h4>Guaranteed Safe Checkout</h4>
                                <img width="60%" class="fade-in lazyload" src="~/Images/Content/paymethod.png" data-image="@Url.Content("~/Images/Content/paymethod.png")" alt="Guaranteed Safe Checkout">
                            </div>
                            <!--End Guranteed Checkout-->
                        </div>
                    </div>
                </div>
                <!--Products Tabs-->
                <div class="row mt-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="tabs-listing mt-2">
                            <ul class="product-tabs list-unstyled d-flex-wrap m-0 d-none d-md-flex justify-content-center">
                                <li rel="description" class="active"><a class="tablink">Description</a></li>
                                <li rel="reviews"><a class="tablink">Reviews (8)</a></li>
                                <li rel="shipping-return"><a class="tablink">Shipping &amp; Return</a></li>
                            </ul>
                            <div class="tab-container">
                                <!--Description-->
                                <h3 class="tabs-ac-style acor-ttl d-md-none active" rel="description">Description</h3>
                                <div id="description" class="tab-content">
                                    <div class="product-description">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0">
                                                <p>@Model.productDescription</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Description-->
                                <!--Review-->
                                <h3 class="tabs-ac-style acor-ttl d-md-none" rel="reviews">Review (5)</h3>
                                <div id="reviews" class="tab-content">
                                    <div class="row justify-content-center">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2 px-4 mb-3">
                                            <h4 class="text-uppercase mb-3">Customer Reviews</h4>
                                            <div class="review-inner">
                                                <div class="review-list row">
                                                    <div class="col-3 col-sm-2 col-md-2 col-lg-2 text-center">
                                                        <img class="blur-up lazyload rounded-pill" data-src="assets/images/photo1.jpg" src="assets/images/photo1.jpg" alt="Photo" />
                                                    </div>
                                                    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
                                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                                            <div class="detail">
                                                                <p class="m-0"><b>Henri Will</b></p>
                                                                <small>17 July 2020, 6:05 PM</small>
                                                            </div>
                                                            <div class="product-review">
                                                                <i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cpr cp-star"></i>
                                                            </div>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="review-list row">
                                                    <div class="col-3 col-sm-2 col-md-2 col-lg-2 text-center">
                                                        <img class="blur-up lazyload rounded-pill" data-src="assets/images/photo1.jpg" src="assets/images/photo1.jpg" alt="Photo" />
                                                    </div>
                                                    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
                                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                                            <div class="detail">
                                                                <p class="m-0"><b>David Willy</b></p>
                                                                <small>20 August 2020, 6:05 PM</small>
                                                            </div>
                                                            <div class="product-review">
                                                                <i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i>
                                                            </div>
                                                        </div>
                                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the make a type specimen book.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2 px-4 mb-3">
                                            <h4 class="text-uppercase mb-3">Write A Review</h4>
                                            <form action="#" method="post">
                                                <div class="row align-items-center">
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label class="margin-15px-bottom" for="basic-name">Your name <span class="required">*</span></label>
                                                        <input id="basic-name" class="bg-white mb-2" type="text" name="name" placeholder="Enter your name">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label class="margin-15px-bottom">Your email address <span class="required">*</span></label>
                                                        <input class="bg-white mb-2" type="text" name="email" placeholder="Enter your email">
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 margin-30px-bottom">
                                                        <label class="margin-15px-bottom">Your rating <span class="required">*</span></label>
                                                        <span class="text-orange text-extra-small d-block product-review mb-2">
                                                            <i class="cpr cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="margin-15px-bottom">Your comment</div>
                                                        <textarea class="bg-white mb-3" rows="4" name="comment" placeholder="Enter your comment"></textarea>
                                                    </div>
                                                    <div class="col-12">
                                                        <input class="btn btn-lg rounded-3" type="button" name="submit" value="Submit Review">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--End Review-->
                                <!--Shipping & Returns-->
                                <h3 class="tabs-ac-style acor-ttl d-md-none" rel="shipping-return">Shipping &amp; Return</h3>
                                <div id="shipping-return" class="tab-content">

                                    <p>@Model.shipping_return</p>

                                </div>
                                <!--End Shipping & Returns-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Products Tabs-->
            </div>
        </div>
    </div>
    <!--End Product Details-->
    <!--Related products-->
    <h2 class="title text-uppercase">Related products</h2>
    <!--Product Grid-->
    <div class="products-grid">
        <div class="row">

            @*@foreach (var item in Model)
            {*@



                @*<div class="col-md-8 col-lg-6 col-xl-4 mt-3">
                    <div class="card text-black">
                        <a href="/Home/SingleProduct?id=@item.productId">
                            <img src="~/Images/Products/@item.productImage_1"
                                 class="card-img-top"
                                 alt="@item.productDescription" />
                        </a>
                        <div class="card-body">
                            <div class="text-center">
                                <a href="/Home/SingleProduct?id=@item.productId">
                                    <h5 class="card-title">@item.productName</h5>
                                </a>
                            </div>
                            <div class="d-flex justify-content-center total font-weight-bold mt-4">
                                <span>JOD @item.price</span>
                            </div>
                            <div class="d-flex justify-content-center total font-weight-bold mt-4">
                                <a class="option1 btn btn-cart" href="@Url.Action("Buy", "Carts", new { productId = Convert.ToInt32(item.productId) })">Add To Cart</a>

                            </div>
                        </div>
                    </div>
                </div>*@

            @*}*@

          
        </div>
        <!--End Content-->
    </div>
    <!--End Related products-->

</main><!--End Page Content-->


