@model hikaya_Ajloun.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hikayat Ajloun Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Dashboard/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Dashboard/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Dashboard/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Dashboard/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Dashboard/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Dashboard/plugins/summernote/summernote-bs4.min.css">
    <link rel="shortcut icon" href="~/Images/logos/favicon.png">

</head>
<body class="hold-transition sidebar-mini layout-fixed">

    @RenderPage("~/Views/Shared/_saidbar-navbar.cshtml")

    <div style="padding:50px" class="content-wrapper">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Product</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.productName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.productName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.productImage_1)
                </dt>



                <div class="form-group">
                    <div class="input-group col-md-12">
                        <img src="~/Images/Products/@Model.productImage_1" alt="mm" style="width:700px;" />
                    </div>
                </div>





                <dt>
                    @Html.DisplayNameFor(model => model.price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.productDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.productDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.availability)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.availability)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.shipping_return)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.shipping_return)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Category.categoryName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.categoryName)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }

                <div class="form-actions no-color">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" onclick="preventDefault()" class="btn btn-danger" /> |
                        <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
                    </form>

                    <script>
                        function preventDefault() {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'You cannot delete the product because it exists in a cart or in the purchase list of a member!',
                                
                            })
                            event.preventDefault();
                        }
                    </script>
                </div>

            }
        </div>
    </div>

    @RenderPage("~/Views/Shared/footer.cshtml")
    <!-- ./wrapper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>

    <!-- jQuery -->
    <script src="~/Dashboard//plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Dashboard//plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Dashboard//dist/js/adminlte.min.js"></script>
    <!-- Summernote -->
    <script src="~/Dashboard//plugins/summernote/summernote-bs4.min.js"></script>
    <!-- CodeMirror -->
    <script src="~/Dashboard//plugins/codemirror/codemirror.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/css/css.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/xml/xml.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Dashboard//dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            // Summernote
            $('#summernote').summernote()

            // CodeMirror
            CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
                mode: "htmlmixed",
                theme: "monokai"
            });
        })</script>
</body>
</html>