<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hekayt Ajloun</title>
    <!--favicon icon-->
    <link rel="shortcut icon" href="~/Images/logos/favicon.png">
    <!--bootstrap css-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/rev/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="~/rev/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/rev/css/rs6.css">
    <!--owl carousel-->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!--Progressbar CSS -->
    <link rel="stylesheet" href="~/css/progressbar.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/css/animations.min.css">
    <!-- Magnefic Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <!--icon css -->
    <link rel="stylesheet" href="~/fonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/themify-icons/themify-icons.css">
    <!--style css-->
    <link rel="stylesheet" href="~/css/style.css">
    <!--style scss-->
    <!--responsive css-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!--Google Fonts-->
    <link href="//fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/css/style2.css">
    <link rel="stylesheet" href="~/css/responsive2.css">

</head>
<body>


    <style>
        .badge {
            padding-left: 6px;
            padding-right: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
        }

        .label-warning[href],
        .badge-warning[href] {
            background-color: #c67605;
        }

        #lblCartCount {
            font-size: 19px;
            background: #ff0000;
            color: #fff;
            padding: 0 5px;
            vertical-align: top;
            margin-left: -20px;
        }
    </style>

    <!-- Loading Start-->
    <div id="pq-loading">
        <div id="pq-loading-center">
            <img src="~/Images/logos/Hekayt Ajloun logo Green.png" alt="loading">
        </div>
    </div>
    <!--Loading End -->
    <!--Header Start-->
    <header id="pq-header" class="pq-header-style-1 pq-has-sticky">
        <div class="pq-top-header">
            <div class="container-fluid">
            </div>
        </div>
        <div class="pq-bottom-header pq-has-sticky">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="main-home.html">
                                <img class="img-fluid logo" src="~/Images/logos/Hekayt Ajloun logo Green.png" alt="techtrix">
                            </a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div id="pq-menu-contain" class="pq-menu-contain">
                                    <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                        <li class="menu-item">
                                            @Html.ActionLink("Home", "Home", "Home", null, new { @class = "pq-submenu-icon" })

                                        </li>
                                        <li class="menu-item">
                                            @Html.ActionLink("Products", "Products", "Home", null, new { @class = "pq-submenu-icon" })
                                        </li>
                                        <li class="menu-item">
                                            @Html.ActionLink("Places", "Places", "Home", null, new { @class = "pq-submenu-icon" })

                                        </li>
                                        <li class="menu-item">
                                            @Html.ActionLink("Services", "Services", "Home", null, new { @class = "pq-submenu-icon" })
                                        </li>
                                        <li class="menu-item">
                                            @Html.ActionLink("About Us", "aboutus", "Home", null, new { @class = "pq-submenu-icon" })
                                        </li>
                                        <li class="menu-item">
                                            @Html.ActionLink("Blog", "Blog", "Home", null, new { @class = "pq-submenu-icon" })
                                        </li>

                                        <li class="menu-item">
                                            @Html.Partial("_LoginPartial")
                                        </li>



                                        @if (Request.IsAuthenticated)

                                        {

                                            if (User.IsInRole("Admin"))
                                            {
                                                <li class="menu-item">
                                                    @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", null, new { @class = "pq-submenu-icon" })
                                                </li>
                                            }



                                        }



                                        @if (Request.IsAuthenticated)

                                        {

                                            if (User.IsInRole("Users"))
                                            {
                                                <li class="menu-item">
                                                    @Html.ActionLink("Profile", "Profile", "Home", null, new { @class = "pq-submenu-icon" })
                                                </li>
                                            }



                                        }

                                    </ul>






                                </div>
                            </div>

                            <div class="pq-header-info-box">
                                <div class="pq-header-call">
                                    <a href="/carts/Cart">
                                        <i class="fa" style="font-size:24px">&#xf07a;</i>
                                        <span class='badge badge-warning' id='lblCartCount'> @Session["NumOfItems"] </span>
                                    </a>
                                </div>

                                <a href="/Home/contact" class="pq-button ms-3">
                                    <div class="pq-button-block">
                                        <span class="pq-button-text"><i class="fa-solid fa-phone-volume"></i> Contact us</span>
                                    </div>
                                </a>
                            </div>

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header End-->

    @RenderBody()

    <!--Footer Start-->
    <footer id="pq-footer" class="style-1">
        <div class="pq-footer-style-1">
            <div class="pq-footer-top">
                <!-- footer top list  -->
                <div class="pq-footer-bottom-list">
                    <div class="container">
                        <div class="row g-0">
                            <div class="col-lg-4 p-0">
                                <div class="pq-footer-items">
                                    <i class="ti-location-pin"></i>
                                    <div class="pq-footer-items-info">
                                        <h4>Address</h4>
                                        <span> Ajloun / Kufrnjah </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 p-0">
                                <div class="pq-footer-items">
                                    <i class="ti-mobile"></i>
                                    <div class="pq-footer-items-info">
                                        <h4>call Us On</h4>
                                        <a href="tel:+180045647824">
                                            <span>+962779907498</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 p-0">
                                <div class="pq-footer-items border-0">
                                    <i class="ti-email"></i>
                                    <div class="pq-footer-items-info">
                                        <h4>Email Us</h4>
                                        <a href="mailto:Support@Hekaytajloun.com"><span>Support@Hekaytajloun.com</span></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- footer top list -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <div class="widget">
                                <img src="~/Images/logos/Hekayt Ajloun logo Green.png" class="pq-footer-logo" alt="gym-footer-logo">
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered.
                                </p>
                                <div class="pq-footer-social">
                                    <ul>
                                        <li><a href="https://www.facebook.com/nabd20jo" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.instagram.com/hikayajo/?hl=bg" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://join.skype.com/invite/CQhRwg7yu9Kb" target="_blank"><i class="fab fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4  col-md-6">
                            <div class="widget">
                                <h4 class="footer-title">"What's your contribution?"</h4>
                                <div class="menu-useful-service-links-container">
                                    <ul id="menu-useful-service-links" class="menu">
                                        <li>
                                            <a href="/Home/contact" target="_blank">Add Artical</a>
                                        </li>
                                        <li>
                                            <a href="/Home/FormProduct" target="_blank">Add a product</a>
                                        </li>
                                        <li>
                                            <a href="/Home/FormPlace" target="_blank">Add a place</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4  col-md-6">
                            <div class="widget">
                                <h4 class="footer-title">Useful link</h4>
                                <div class="menu-useful-link-container">
                                    <ul id="menu-usefull-link" class="menu">
                                        <li>
                                            <a href="/Home/Places" target="_blank">Places</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Products" target="_blank">Product</a>
                                        </li>
                                        <li>
                                            <a href="/Home/Blog" target="_blank">Blog</a>
                                        </li>
                                        <li>
                                            <a href="/Home/contact" target="_blank">contact</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="pq-copyright-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <span class="pq-copyright">
                                <a target="_blank" href="#">
                                    Copyright 2023 Hekayt Ajloun All Rights
                                    Reserved.
                                </a>
                            </span>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="pq-footer-link">
                                <ul>
                                    <li><a href="/Home/TermOfUse" target="_blank">Term Of Use</a></li>
                                    <li><a href="/Home/PrivacyPolicy" target="_blank">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer End-->
    <!--Back to top Start-->
    <div style="float:left" id="back-to-top">
        <a class="top" id="#top" href="#"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!--Back to top End-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--Jquery js-->
    <script src="~/js/jquery.min.js"></script>
    <!--Bootstrap js-->
    <script src="~/js/bootstrap.min.js"></script>
    <!--Owl Carousel js-->
    <script src="~/js/owl.carousel.min.js"></script>
    <!--isotope js-->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <!--countTo js-->
    <script src="~/js/jquery.countTo.min.js"></script>
    <!--Maginfic-Popup js-->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Animation JS -->
    <script src="~/js/wow.min.js"></script>
    <!--Rev Slider js-->
    <script src="~/rev/js/rbtools.min.js"></script>
    <script src="~/rev/js/rs6.min.js"></script>
    <script src="~/js/rev-custom.js"></script>
    <!--Custom js-->
    <script src="~/js/rough-script.js"></script>
    <script src="~/js/rough-notation.iife.js"></script>
    <script src="~/js/rough-custom.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- Including Jquery -->
    <script src="~/js/vendor/jquery-min.js"></script>
    <script src="~/js/vendor/js.cookie.js"></script>
    <!--Including Javascript-->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/vendor/photoswipe.min.js"></script>



    <!-- Photoswipe Gallery -->
    <script src="~/js/vendor/photoswipe.min.js"></script>
    <script>

        document.getElementById("update-cart-btn").addEventListener("click", function () {
            var qtyBtns = document.querySelectorAll(".qtyBtn");
            for (var i = 0; i < qtyBtns.length; i++) {
                qtyBtns[i].classList.add("active");
            }
        });

        $(function () {
            var $pswp = $('.pswp')[0],
                image = [],
                getItems = function () {
                    var items = [];
                    $('.lightboximages a').each(function () {
                        var $href = $(this).attr('href'),
                            $size = $(this).data('size').split('x'),
                            item = {
                                src: $href,
                                w: $size[0],
                                h: $size[1]
                            }
                        items.push(item);
                    });
                    return items;
                }
            var items = getItems();

            $.each(items, function (index, value) {
                image[index] = new Image();
                image[index].src = value['src'];
            });
            $('.prlightbox').on('click', function (event) {
                event.preventDefault();

                var $index = $(".active-thumb").parent().attr('data-slick-index');
                $index++;
                $index = $index - 1;

                var options = {
                    index: $index,
                    bgOpacity: 0.9,
                    showHideOpacity: true
                }
                var lightBox = new PhotoSwipe($pswp, PhotoSwipeUI_Default, items, options);
                lightBox.init();
            });
        });

        type = "text/javascript" > window.$crisp =[]; window.CRISP_WEBSITE_ID = "9331f54f-9335-4ef0-92e6-a7ddd6e6f0dd"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();
    </script>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption"><div class="pswp__caption__center"></div></div>
            </div>
        </div>
    </div>

</body>
</html>

