@model hikaya_Ajloun.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hikayat Ajloun Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Dashboard/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Dashboard/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Dashboard/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Dashboard/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Dashboard/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Dashboard/plugins/summernote/summernote-bs4.min.css">
    <link rel="shortcut icon" href="~/Images/logos/favicon.png">

</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <style>
        .thumbnail {
            top: -50px;
            left: -35px;
            display: block;
            z-index: 999;
            cursor: pointer;
            -webkit-transition-property: all;
            -webkit-transition-duration: 0.3s;
            -webkit-transition-timing-function: ease;
        }

            .thumbnail:hover {
                transform: scale(3);
            }
    </style>

    @RenderPage("~/Views/Shared/_saidbar-navbar.cshtml")

    <div style="padding:30px" class="content-wrapper">


        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Images/logos/Hekayt Ajloun logo Green.png" alt="Hekaya Ajloun" height="60" width="150">
        </div>

        @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Product</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">


                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.productName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-2 ">
                    @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.categoryId, "categoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.DropDownList("categoryId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.categoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group col-md-2">
            @Html.LabelFor(model => model.availability, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="">
                @Html.EditorFor(model => model.availability, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.availability, "", new { @class = "text-danger" })
            </div>
        </div>*@


                <div class="form-group  col-md-2">
                    @Html.LabelFor(model => model.availability, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.availability, new List<SelectListItem>
                        {
                            new SelectListItem { Text = "On Stock", Value = "On Stock" },
                            new SelectListItem { Text = "Out Of Stock", Value = "Out Of Stock" },
                            

                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.availability, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>

            @*<div class="form-group col-sm-6 mt-3">
                <label>Main image</label>
                <div class="input-group custom-file">
                    <input type="file" class="form-control custom-file-input" id="articleImage" name="articleImage">
                    <label class="custom-file-label" for="articleImage">Choose file</label>
                </div>
            </div>*@

                    <div class="form-group col-md-3 mr-3">
                        <label class="custom-file-label" for="productImage_1">Choose file</label>
                        <div class="">
                            <input type="file" class="form-control custom-file-input" id="productImage_1" name="productImage_1" />
                            @Html.ValidationMessageFor(model => model.productImage_1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-3 mr-3 ">
                        <label class="custom-file-label" for="productImage_2">Choose file</label>
                        <div class="">
                            <input type="file" class="form-control custom-file-input" id="productImage_2" name="productImage_2" />
                            @Html.ValidationMessageFor(model => model.productImage_2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-3 mr-3">
                        <label class="custom-file-label" for="productImage_3">Choose file</label>
                        <div class="">
                            <input type="file"  class="form-control custom-file-input" id="productImage_3" name="productImage_3"  />
                            @Html.ValidationMessageFor(model => model.productImage_3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-3 mr-3">
                        <label class="custom-file-label" for="productImage_4">Choose file</label>
                        <div class="">
                            <input type="file" class="form-control custom-file-input" id="productImage_4" name="productImage_4" />
                            @Html.ValidationMessageFor(model => model.productImage_4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                     
                    <div class="form-group col-md-3 mr-3">
                        <label class="custom-file-label" for="productImage_5">Choose file</label>
                        <div class="">
                            <input type="file" class="form-control custom-file-input" id="productImage_5" name="productImage_5" />
                            @Html.ValidationMessageFor(model => model.productImage_5, "", new { @class = "text-danger" })
                        </div>
                    </div>

                             


                <div class="form-group  col-md-12">
                    @Html.LabelFor(model => model.productDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        <textarea class="form-control" name="productDescription" rows="7"> </textarea>
                        @Html.ValidationMessageFor(model => model.productDescription, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group  col-md-12">
                    @Html.LabelFor(model => model.shipping_return, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        <textarea class="form-control" name="shipping_return" rows="10" > </textarea>
                        @Html.ValidationMessageFor(model => model.shipping_return, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }



        <div>
            @Html.ActionLink("Back to List", "Index" ,  null, new { @class = "btn btn-primary" })
        </div>




    </div>









    @RenderPage("~/Views/Shared/footer.cshtml")
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Dashboard//plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Dashboard//plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Dashboard//dist/js/adminlte.min.js"></script>
    <!-- Summernote -->
    <script src="~/Dashboard//plugins/summernote/summernote-bs4.min.js"></script>
    <!-- CodeMirror -->
    <script src="~/Dashboard//plugins/codemirror/codemirror.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/css/css.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/xml/xml.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Dashboard//dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            // Summernote
            $('#summernote').summernote()

            // CodeMirror
            CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
                mode: "htmlmixed",
                theme: "monokai"
            });
        })
    </script>
</body>
</html>
