@model hikaya_Ajloun.Models.PlacesRequest

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Places Requests</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Dashboard/plugins/fontawesome-free/css/all.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/Dashboard/dist/css/adminlte.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Dashboard/plugins/summernote/summernote-bs4.min.css">
    <!-- CodeMirror -->
    <link rel="stylesheet" href="~/Dashboard/plugins/codemirror/codemirror.css">
    <link rel="stylesheet" href="~/Dashboard/plugins/codemirror/theme/monokai.css">
    <link rel="shortcut icon" href="~/Images/logos/favicon.png">

</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <style>
        .thumbnail {
            top: -50px;
            left: -35px;
            display: block;
            z-index: 999;
            cursor: pointer;
            -webkit-transition-property: all;
            -webkit-transition-duration: 0.3s;
            -webkit-transition-timing-function: ease;
        }

            .thumbnail:hover {
                transform: scale(3);
            }
    </style>



    @RenderPage("~/Views/Shared/_saidbar-navbar.cshtml")

    <div style="padding:50px" class="content-wrapper">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Places Request</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlacesName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlacesName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Adress1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Adress2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Message)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Message)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.image1)
                </dt>

                <dd>
                    <img alt="" class="thumbnail" src="~/Images/PlacesRequest/@Model.image1" style="height:70px;width:70px;" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.image2)
                </dt>

                <dd>
                    <img alt="" class="thumbnail" src="~/Images/PlacesRequest/@Model.image2" style="height:70px;width:70px;" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.image3)
                </dt>

                <dd>
                    <img alt="" class="thumbnail" src="~/Images/PlacesRequest/@Model.image3" style="height:70px;width:70px;" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.image4)
                </dt>

                <dd>
                    <img alt="" class="thumbnail" src="~/Images/PlacesRequest/@Model.image4" style="height:70px;width:70px;" />
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>

    @RenderPage("~/Views/Shared/footer.cshtml")

    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Dashboard//plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Dashboard//plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Dashboard//dist/js/adminlte.min.js"></script>
    <!-- Summernote -->
    <script src="~/Dashboard//plugins/summernote/summernote-bs4.min.js"></script>
    <!-- CodeMirror -->
    <script src="~/Dashboard//plugins/codemirror/codemirror.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/css/css.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/xml/xml.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Dashboard//dist/js/demo.js"></script>
    <!-- Page specific script -->

</body>
</html>