@model hikaya_Ajloun.Models.Comment

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hikayat Ajloun Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Dashboard/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Dashboard/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Dashboard/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Dashboard/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Dashboard/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Dashboard/plugins/summernote/summernote-bs4.min.css">
    <link rel="shortcut icon" href="~/Images/logos/favicon.png">

</head>
<body class="hold-transition sidebar-mini layout-fixed">

    @RenderPage("~/Views/Shared/_saidbar-navbar.cshtml")

    <div style="padding:50px" class="content-wrapper">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Comment</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Comment1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comment1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.status)
                </dt>

                <dd>
                   <label>Reject</label>
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
                </div>
            }
        </div>
    </div>

    @RenderPage("~/Views/Shared/footer.cshtml")
    <!-- ./wrapper -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- jQuery -->
    <script src="~/Dashboard//plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Dashboard//plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Dashboard//dist/js/adminlte.min.js"></script>
    <!-- Summernote -->
    <script src="~/Dashboard//plugins/summernote/summernote-bs4.min.js"></script>
    <!-- CodeMirror -->
    <script src="~/Dashboard//plugins/codemirror/codemirror.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/css/css.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/xml/xml.js"></script>
    <script src="~/Dashboard//plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Dashboard//dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>$(function () {
            // Summernote
            $('#summernote').summernote()

            // CodeMirror
            CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
                mode: "htmlmixed",
                theme: "monokai"
            });
        })</script>
</body>
</html>